*{
    margin: 0px;
    padding: 0p;
}

a{

    color: white;
    text-decoration: none;
}

.navbar{
    height: 50px;
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color :rgb(233, 233, 233);
}

.navbar .left{

    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .left .title{

    font-size: 28px;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar .left .logo{

    margin-left: 15px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.navbar .left .logo .img{

    width: 50px;
    height: 50px;
    object-fit: contain;
}

.right{

    display: flex;
    flex-direction: column;
    /*background-color: red;*/
}

.navbar .right ul{

    display:flex;
    text-align: center;
    font-size: 24px;
    justify-content: center;
}

.navbar .right ul li{

    list-style:none;
    margin-left: 15px;
    margin-right: 15px;
}

.carrusel{

    width: 100%;
    height: 645px;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
}

.carrusel .carrusel_img{

    width: 100%;
    height: 100%;
}

.carrusel .info{
   
    left: 110px;
    top:75px;
    width: 80%;
    height: 600px;
    position:absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.13);
    flex-direction: column;
}

.carrusel .info .titulo{

    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}

.carrusel .info .descripcion{

    margin-left: 20%;
    margin-right: 20%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.carrusel .boton{

    font-size: 64px;
    font-weight: bold;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}   

.enun_exp{

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.experience{

    width: 100%;
    height: 600px;
    background-color: rgb(3, 2, 49);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experience .experiencia{

    width: 85%;
    height: 125px;
    margin-top: 20px;
    margin-bottom: 20px;
    border:5px solid white;
    border-radius: 20px;
    display:flex;
}

.experience .experiencia .imagen_experience{

    width: 100px;
    height: 100px;
    margin:10px;
    object-fit: contain;
}

.experience .experiencia .info_experience{
    width: 80%;
    height: 80%;
    margin:10px;
    display:flex;
    flex-direction: column;
}

.experience .experiencia .info_experience .arriba{

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    color:white;
}

.experience .experiencia .info_experience .abajo{

    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:white;
}

.TonyPage1{

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.TonyPage2{

    width: 100%;
    height: 450px;
    display: flex;
    background-color: rgb(224, 240, 255);
    justify-content: center;
    align-items: center;
}

.TonyPage2 .AboutMe{

    width: 75%;
    height: 90%;
    margin :10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TonyPage2 .Skills{

    width: 20%;
    height: 90%;
    background-color: rgba(0, 0, 255, 0.301);
    margin :10px;
    border-radius: 5%;
}

.TonyPage2 .AboutMe .foto{

    width: 25%;
    height: 60%;
    border :5px solid black;
    border-radius: 100%;
    overflow: hidden;
}

.TonyPage2 .AboutMe .infopersonal{

    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.TonyPage2 .AboutMe .infopersonal .nombre{

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.TonyPage2 .AboutMe .infopersonal .enunciado_obj{

    width: 100%;
    height: 50px;
    font-size: 20px;
}

.TonyPage2 .AboutMe .infopersonal .objetivos_Box{

    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.TonyPage2 .AboutMe .infopersonal .motivaciones_gustos_etc_enun{

    width: 100%;
    height: 50px;
    font-size: 20px;
}

.TonyPage2 .AboutMe .infopersonal .motivaciones_gustos_etc{

    width: 100%;
    height: 150px;
    font-size: 18px;
}

.TonyPage2 .Skills .enunciado_puntos{

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.TonyPage2 .Skills .puntuacion{

    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-size: 80px;
    align-items: center;
}

.TonyPage2 .Skills .opciones{

    width: 100%;
    height: 100px;
}

.TonyPage2 .Skills .parte{

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contact_enun{

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.contact{

    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: rgb(171, 105, 233);
}

.contact .formulario{

    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.contact .redes{

    width: 100%;
    height: 20%;
    background-color: rgb(122, 41, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .formulario .formulario_titles{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact .formulario .inputs{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.contact .formulario .enviar{

    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    margin-bottom:20px;
}

.contact .redes .cuentas{

    width: 40px;
    height: 40px;
    object-fit:contain;
    margin-left: 50px;
    margin-right: 50px;
}